
.loginForm{
  border: 2px solid black;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TaskCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}